*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}



.navbars input[type="checkbox"],
.navbars .hamburger-lines{
    display: none;
}

.containers{
    max-width: 1200px;
    width: 90%;
    margin: auto;
    height: fit-content;
}

.navbars{
    box-shadow: 0px 5px 10px 0px #aaaaaa0c;
    display: flex;
    width: 100%;
    background: white;
    color: #000;
    opacity: 1;
    z-index: 100;
    align-items: center;
    justify-items: baseline;
    position: fixed;
    
}

.navbars-containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 1.5rem;
    color: red;
    font-weight:bolder;
    padding-top: 12px;
   
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbars a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbars a:hover{
    color: #117964;
}



 

@media (max-width: 768px){
    .navbars{
        opacity: 0.95;
    }

    .navbars-containers input[type="checkbox"],
    .navbars-containers .hamburger-lines{
        display: block;
    }

    .navbars-containers{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbars-containers input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbars-containers .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbars-containers .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbars-containers .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbars-containers .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbars-containers .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbars .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbars .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbars-containers input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbars-containers input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbars-containers input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbars-containers input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbars-containers input[type="checkbox"]:checked ~ .logo{
        display: none;
        
    }
    .navbars{
        z-index: 100;
    }

    .logo{
        order: 1;
        font-size: 1.1rem;
        color: red;
      
       
    }
}